<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Event Calendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="icons/style.css" rel="stylesheet" type="text/css" />
    <script src="js/daypilot/boxTab.js"></script>
  </head>
  <body>

    </div> 
    <div class="boxHome">
      <!-- <span class="Name" id="userNameDisplay">Nội dung của lớp Name</span> -->
      <div class="main" style="display: flex">
        <div style="margin-right: 10px; display: none;">
          <div id="nav"></div>
        </div>

        <div class="right">
          <div class="toolbar">
            <button id="previous"><<</button>
            <button id="next">>></button>
          </div>
          <div id="dp"></div>
        </div>
      </div>

      <!-- DayPilot library -->
      <script src="js/daypilot/daypilot-all.min.js"></script>

      <script>
        const datePicker = new DayPilot.Navigator("nav", {
          showMonths: 3,
          skipMonths: 3,
          selectMode: "week",
          onTimeRangeSelected: (args) => {
            dp.startDate = args.day;
            dp.update();
            dp.events.load("/api/events");
          },
        });
        datePicker.init();

        const dp = new DayPilot.Calendar("dp", {
          viewType: "Week",
          onTimeRangeSelected: async (args) => {
            const modal = await DayPilot.Modal.prompt(
              "Tạo một sự kiện mới:",
              "Họp..."
            );
            dp.clearSelection();
            if (modal.canceled) {
              return;
            }
            const params = {
              start: args.start,
              end: args.end,
              text: modal.result,
            };
            const { data } = await DayPilot.Http.post(
              "/api/events/create",
              params
            );
            dp.events.add(data);
            console.log("Event created");
          },
          onEventMove: async (args) => {
            const params = {
              id: args.e.id(),
              start: args.newStart,
              end: args.newEnd,
            };
            const { data } = await DayPilot.Http.post(
              "/api/events/move",
              params
            );
            console.log("Event moved");
          },
          onEventResize: async (args) => {
            const params = {
              id: args.e.id(),
              start: args.newStart,
              end: args.newEnd,
            };
            const { data } = await DayPilot.Http.post(
              "/api/events/move",
              params
            );
            console.log("Event resized");
          },
          onBeforeEventRender: (args) => {
            args.data.barColor = args.data.color;
            args.data.areas = [
              {
                top: 2,
                right: 2,
                icon: "icon-triangle-down",
                visibility: "Visible",
                action: "ContextMenu",
                style:
                  "font-size: 12px; background-color: #f9f9f9; border: 1px solid #ccc; padding: 2px 2px 0px 2px; cursor:pointer;",
              },
            ];
          },
          contextMenu: new DayPilot.Menu({
            items: [
              {
                text: "Delete",
                icon: "icon icon-delete",
                onClick: (args) => app.deleteEvent(args.source),
              },
              {
                text: "Cuộc họp",
                icon: "icon icon-blue",
                color: "#1066a8",
                onClick: (args) =>
                  app.updateColor(args.source, args.item.color),
              },
              {
                text: "Công tác",
                icon: "icon icon-green",
                color: "#6aa84f",
                onClick: (args) =>
                  app.updateColor(args.source, args.item.color),
              },
              {
                text: "Việc cần làm",
                icon: "icon icon-yellow",
                color: "#f1c232",
                onClick: (args) =>
                  app.updateColor(args.source, args.item.color),
              },
              {
                text: "Ngày nghỉ",
                icon: "icon icon-red",
                color: "#cc0000",
                onClick: (args) =>
                  app.updateColor(args.source, args.item.color),
              },
            ],
          }),
        });
        dp.init();

        const app = {
          init: () => {
            dp.events.load("/api/events");
          },
          deleteEvent: async (e) => {
            const confirmation = await DayPilot.Modal.confirm(
              "Bạn cóchắc chắn muốn xóa sự kiện này?"
            );
            if (confirmation.canceled) {
              return;
            }
            const params = {
              id: e.id(),
            };
            const { data } = await DayPilot.Http.post(
              "/api/events/delete",
              params
            );
            dp.events.remove(e);
            console.log("Event deleted");
          },

          updateColor: async (e, color) => {
            const params = {
              id: e.id(),
              color: color,
            };
            const { data } = await DayPilot.Http.post(
              "/api/events/setColor",
              params
            );
            e.data.color = color;
            dp.events.update(e);
            console.log("Color updated");
          },
        };
        app.init();

        // Xử lý sự kiện cho nút "Previous"
        const previousButton = document.getElementById("previous");
        previousButton.addEventListener("click", () => {
          const current = datePicker.selectionDay;
          datePicker.select(current.addDays(-7));
        });

        // Xử lý sự kiện cho nút "Next"
        const nextButton = document.getElementById("next");
        nextButton.addEventListener("click", () => {
          const current = datePicker.selectionDay;
          datePicker.select(current.addDays(7));
        });
      </script>
    </div>
  </body>
</html>
