<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin|ListUser</title>
    <link rel="stylesheet" type="text/css" href="edit/edit.css" />
    <script src="edit/edit.js"></script>
    <th:block th:replace="boxtabbarAdmin ::  link-css"></th:block>
  </head>
  <body>
    <th:block th:replace="boxtabbarAdmin ::  header"></th:block>
    <div class="box">
      <div class="container">
        <h1>User CRUD</h1>
        <button id="createUserBtn">Create User</button>
        <table id="userTable">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Position</th>
              <th>Sex</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody id="userList">
            <!-- Dữ liệu người dùng sẽ được thêm sau bằng JavaScript -->
          </tbody>
        </table>
      </div>

      <div class="popup" id="popup">
        <div class="popup-content">
          <span id="closePopupBtn" class="close-btn">&times;</span>
          <h2>Create User</h2>
          <form id="userForm">
            <div class="form-control">
              <label for="newName">Name:</label>
              <input type="text" id="newName" name="newName" required />
            </div>
            <div class="form-control">
              <label for="newEmail">Email:</label>
              <input type="text" id="newEmail" name="newEmail" required />
            </div>
            <div class="form-control">
              <label for="newPassword">Password:</label>
              <input
                type="password"
                id="newPassword"
                name="newPassword"
                required
              />
            </div>
            <div class="form-control">
              <label for="newPosition">Position:</label>
              <select id="newPosition" name="newPosition" required>
                <option value="">Select Position</option>
                <option value="Employee">Employee</option>
                <option value="Manager">Manager</option>
              </select>
            </div>
            <div class="form-control">
              <label for="newSex">Sex:</label>
              <select id="newSex" name="newSex" required>
                <option value="">Select Sex</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
            <div class="form-control">
              <button type="submit">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
